doctype html
html(lang="ru=RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
        link(rel="stylesheet" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")

        link(rel="stylesheet" href="css/style.css")



    body
        .wrapper
            .slider-container
                ul
                    li.prev.slick-arrow
                    li.next.slick-arrow
                .slider
                    div
                        div#chart_div
                    div.chart-div_container
                        div#chart_div-2
                        div#chart_div-3


        script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.0.min.js")
        script(type="text/javascript", src="js/slick.js")
        script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
        script(type="text/javascript", src="js/main.js")



