@import "variables";
@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@include reset();

@font-face {
  font-family: 'HelveticaRegular';
  src:  url('../fonts/HelveticaRegular/HelveticaRegular.eot');
  src:  url('../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff');
  src:  url('../fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: $bg;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
}

.debug {
  display: none;
  @include debug(rgba(0,0,0,0.1), 1px solid #ff1);
}

.wrapper {
  @include wrapper;
}

.slider {
  #chart_div {
    margin-top: 7px;
    &>div>div {
      margin: 0 auto;
    }

    &-2,
    &-3 {
      width: 50%;
    }
  }
  .chart-div_container {
    display: flex;
    justify-content: space-between;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin: 0 auto;
  width: 90%;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-arrow {
  display: block;
  height: 200px;
  width: 41px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  z-index: 1;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.prev {
  background: url('../img/btn-slider-right-hover.svg') no-repeat;
  transform: rotate(180deg);
  left: 4%;
}

.next {
  background: url('../img/btn-slider-right-hover.svg') no-repeat;
  right: 4%;
}



/* media query */
@media (max-width: 768px) {
  .prev {
    left: 2%;
  }

  .next {
    right: 2%;
  }

  .slick-slider .slick-list, .slick-slider .slick-track {
    width: 80%;
  }
}